/*
 * CcsSso.WrapperApi
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package uk.gov.ccs.swagger.sso.api;

import uk.gov.ccs.swagger.sso.ApiCallback;
import uk.gov.ccs.swagger.sso.ApiClient;
import uk.gov.ccs.swagger.sso.ApiException;
import uk.gov.ccs.swagger.sso.ApiResponse;
import uk.gov.ccs.swagger.sso.Configuration;
import uk.gov.ccs.swagger.sso.Pair;
import uk.gov.ccs.swagger.sso.ProgressRequestBody;
import uk.gov.ccs.swagger.sso.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import uk.gov.ccs.swagger.sso.model.UserListResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OrganisationUserApi {
    private ApiClient apiClient;

    public OrganisationUserApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OrganisationUserApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for organisationsOrganisationIdUsersGet
     * @param organisationId  (required)
     * @param pageSize  (optional)
     * @param currentPage  (optional)
     * @param searchString  (optional)
     * @param includeSelf  (optional, default to false)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call organisationsOrganisationIdUsersGetCall(String organisationId, Integer pageSize, Integer currentPage, String searchString, Boolean includeSelf, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/organisations/{organisationId}/users"
            .replaceAll("\\{" + "organisationId" + "\\}", apiClient.escapeString(organisationId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("PageSize", pageSize));
        if (currentPage != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("CurrentPage", currentPage));
        if (searchString != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("search-string", searchString));
        if (includeSelf != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("include-self", includeSelf));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKey" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call organisationsOrganisationIdUsersGetValidateBeforeCall(String organisationId, Integer pageSize, Integer currentPage, String searchString, Boolean includeSelf, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'organisationId' is set
        if (organisationId == null) {
            throw new ApiException("Missing the required parameter 'organisationId' when calling organisationsOrganisationIdUsersGet(Async)");
        }
        
        com.squareup.okhttp.Call call = organisationsOrganisationIdUsersGetCall(organisationId, pageSize, currentPage, searchString, includeSelf, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Allows a user to retrieve users for a given organisation
     * NOTE:- query params page-size, current-page  Sample request:                    GET /organisations/1/users?page-size&#x3D;10,current-page&#x3D;1
     * @param organisationId  (required)
     * @param pageSize  (optional)
     * @param currentPage  (optional)
     * @param searchString  (optional)
     * @param includeSelf  (optional, default to false)
     * @return UserListResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public UserListResponse organisationsOrganisationIdUsersGet(String organisationId, Integer pageSize, Integer currentPage, String searchString, Boolean includeSelf) throws ApiException {
        ApiResponse<UserListResponse> resp = organisationsOrganisationIdUsersGetWithHttpInfo(organisationId, pageSize, currentPage, searchString, includeSelf);
        return resp.getData();
    }

    /**
     * Allows a user to retrieve users for a given organisation
     * NOTE:- query params page-size, current-page  Sample request:                    GET /organisations/1/users?page-size&#x3D;10,current-page&#x3D;1
     * @param organisationId  (required)
     * @param pageSize  (optional)
     * @param currentPage  (optional)
     * @param searchString  (optional)
     * @param includeSelf  (optional, default to false)
     * @return ApiResponse&lt;UserListResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<UserListResponse> organisationsOrganisationIdUsersGetWithHttpInfo(String organisationId, Integer pageSize, Integer currentPage, String searchString, Boolean includeSelf) throws ApiException {
        com.squareup.okhttp.Call call = organisationsOrganisationIdUsersGetValidateBeforeCall(organisationId, pageSize, currentPage, searchString, includeSelf, null, null);
        Type localVarReturnType = new TypeToken<UserListResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Allows a user to retrieve users for a given organisation (asynchronously)
     * NOTE:- query params page-size, current-page  Sample request:                    GET /organisations/1/users?page-size&#x3D;10,current-page&#x3D;1
     * @param organisationId  (required)
     * @param pageSize  (optional)
     * @param currentPage  (optional)
     * @param searchString  (optional)
     * @param includeSelf  (optional, default to false)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call organisationsOrganisationIdUsersGetAsync(String organisationId, Integer pageSize, Integer currentPage, String searchString, Boolean includeSelf, final ApiCallback<UserListResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = organisationsOrganisationIdUsersGetValidateBeforeCall(organisationId, pageSize, currentPage, searchString, includeSelf, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<UserListResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
